{% extends 'main/__base__.html' %}
  {% block title %}Utwórz paczkę z darami{% endblock title %}
{% block class %}{% endblock class %}
{% load widget_tweaks %}
  {% block header %}
  {% endblock header %}
  {% block content %}
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
          <p>Nieprawidłowa nazwa użytkownika lub hasło</p>
        {% endif %}

        <div class="form-group">
          {% render_field form.username type="text" name="username" id="username" placeholder="Użytkownik" %}
        </div>
        <div class="form-group">
          {% render_field form.password type="password" name="password" id="password" placeholder="Hasło" %}
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="#" class="btn btn--without-border">Załóż konto</a>      
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
  {% endblock content %}