{% extends 'main/__base__.html' %}
{% block title %}Zmiana hasła{% endblock title %}
{% block class %}{%endblock class%}
{% block header %}{% endblock header %}
{% block content %}
{% load widget_tweaks %}
    <section class="login-page">
      <h2>Zmień hasło</h2>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                <div class="form-group">
                    {% csrf_token %}
                          {% include 'main/form_errors.html' %}
                    <table>
                        {% for field in form.visible_fields %}
                            <tr>
                                <td style="font-size:20px;">{{ field.label_tag }}</td>
                                <td>{% render_field field style="max-width:400px;padding:10px;" %}</td>
                            </tr>
                            <tr>
                            {% if field.help_text %}
                                <td colspan="2">{{ field.help_text }}</td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div style="margin-bottom: 10px;margin-left:auto;margin-right:auto;">
                    <button class="btn" type="submit">Zapisz zmiany</button>
                </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}