{% extends 'main/__base__.html' %}
{% block title %}Zmiana hasła{% endblock title %}
{% block class %}{%endblock class%}
{% block header %}{% endblock header %}
{% block content %}
    <section class="login-page">
      <h2>Zmieniono hasło</h2>
        <div class="row" style="text-align:center;">
            <p style="font-size:18px;font-weight:bold;">Twoje hasło zostało pomyślnie zmienione</p>
            <button class="btn" type="button"><a href="{% url 'profile-edit' %}">Wróć do edycji profilu</a></button>
        </div>
    </section>

{% endblock content %}