{% extends 'main/__base__.html' %}
{% load static %}
{% block title %}Resetowanie hasła{% endblock title %}
{% block class %}{%endblock class%}
{% block header %}{% endblock header %}
{% block content %}
{% load widget_tweaks %}
<section class="login-page">
    <h2>Zresetuj hasło</h2>
        <p class="italic">Wpisz adres email, który podałeś przy rejestracji</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group" style="text-align:center;">
                {% render_field form.email type="email" name="email" placeholder="E-Mail" size="50" %}<br>
                <button type="submit" class="btn btn-center">Wyślij e-mail</button>
            </div>

        </form>
    </section>

{% endblock content %}