{% extends 'main/__base__.html' %}
  {% block title %}Utwórz paczkę z darami{% endblock title %}
{% block class %}header--form-page{% endblock class %}
  {% block header %}

      {% include 'main/form_header.html' %}

  {% endblock header %}
  {% load widget_tweaks %}
  {% block content %}
    <section class="form--steps">

        {% include 'main/form_instructions.html' %}

      <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>

        <form action="" method="post">
            {% csrf_token %}
          <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
            <h3>Zaznacz co chcesz oddać:</h3>
                {% for field in form.visible_fields %}
            <div class="form-group form-group--checkbox">
              <label>
                {{ field }}
                <span class="checkbox"></span>
                <span class="description">{{ field.label_tag }}</span>
              </label>
            </div>
                {% endfor %}

            <div class="form-group form-group--buttons">
              <button type="submit" class="btn next-step">Dalej</button>
            </div>
        </form>
      </div>
    </section>
  {% endblock content %}

