{% extends 'main/__base__.html' %}
  {% block title %}Utwórz paczkę z darami{% endblock title %}
{% block class %}header--form-page{% endblock class %}
  {% block header %}

      {% include 'main/form_header.html' %}

  {% endblock header %}
  {% load widget_tweaks %}
  {% block content %}
    <section class="form--steps">
      <div class="form--steps-container">
        <!-- STEP 7 -->
          <form>
          <div data-step="7" class="active">
            <h2>
              Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
              informacje o odbiorze.
            </h2>
          </div>
            </form>
          </div>
    </section>
  {% endblock content %}