{% extends 'main/__base__.html' %}
  {% block title %}Utwórz paczkę z darami{% endblock title %}
{% block class %}header--form-page{% endblock class %}
    {% block header %}

        {% include 'main/form_header.html' %}

    {% endblock header %}
    {% load widget_tweaks %}
{% block content %}
    <section class="form--steps">

        {% include 'form_steps/2.html' %}

      <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>2</span>/5</div>
        <form action="" method="post">
            {% csrf_token %}
          <!-- STEP 1: class .active is switching steps -->
          <div data-step="2" class="active">
            <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

            <div class="form-group form-group--inline">
              <label>
                Liczba 60l worków:
                {% render_field form.bags type="number" min="1" max="10" %}
              </label>
            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'first-donate' %}" class="btn" style="margin-right: 20px;">Wstecz</a>
                <button type="submit" class="btn next-step">Dalej</button>
            </div>
          </div>
        </form>
      </div>
    </section>
{% endblock content %}

