{% extends 'main/__base__.html' %}
{% block title %}Rejestracja{% endblock title %}
{% block class %}{%endblock class%}
{% block header %}{% endblock header %}
{% block content %}
{% load widget_tweaks %}

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form id="signin_form" action="" method="post">
        {% csrf_token %}

          {% include 'main/form_errors.html' %}

        <div class="form-group">
          {% render_field form.username type="text" name="username" placeholder="Użytkownik" %}
        </div>
        <div class="form-group">
          {% render_field form.email type="email" name="email" placeholder="Email" %}
        </div>
        <div class="form-group">
          {% render_field form.password type="password" name="password" placeholder="Hasło" %}
        </div>
        <div class="form-group">
          {% render_field form.password2 type="password" name="password2" placeholder="Powtórz hasło" %}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login-page' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock content %}