{% extends 'main/__base__.html' %}
{% block title %}Rejestracja{% endblock title %}
{% block class %}header--main-page{%endblock class%}
{% block header %}
    <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Witaj {{ user }}!<br />
            Możesz teraz się zalogować
          </h1>

          <ul class="slogan--buttons">
            <li><a href="{% url 'login-page' %}" class="btn btn--large">Zaloguj się</a></li>
            <li><a href="{% url 'main-page' %}" class="btn btn--large">Strona główna</a></li>
          </ul>
        </div>
      </div>
{% endblock header %}
{% block content %}
{% endblock content %}